body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f5e7;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
.form-container {
    width: 100%;
    max-width: 400px;
    text-align: left;
    padding: 30px;
    background-color: #f8f5e7;
    
}
.form-field {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.form-field label {
    font-size: 24px;
    font-weight: bold;
    color: #243f66;
    margin-right: 10px;
    white-space: nowrap;
}

.form-field input {
    flex-grow: 1;
    border: none;
    border-bottom: 2px solid #243f66;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    color: #243f66;

    padding: 5px 0;
    min-width: 100px;
}

.submit-button {
    display: block;
    margin: 40px auto 0;
    padding: 10px 30px;
    font-size: 20px;
    background-color: transparent;
    color: #243f66;
    
    border: 2px solid #243f66;
    
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: #243f66;
    color: #f8f5e7;
}

.password-toggle-icon {
    position: absolute;
    right: 0;
    bottom: 8px;
    cursor: pointer;
    color: #243f66;
    font-size: 20px;
}

@media (max-width: 480px) {
    .form-field {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-field label,
    .form-field input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .password-toggle-icon {
        right: 5px;
        bottom: 5px;
    }
}